bin/
obj/

.vs/

*.user
*.userosscache
*.suo

packages/

TestResults/

Thumbs.db
.DS_Store


wwwroot/lib/
node_modules/

dist/
wwwroot/dist/

docs/web-docs
src/Ketabi/Ketabi.Web/appsettings.json
src/Ketabi/Ketabi.Web/appsettings.Development.json
src/Ketabi/Ketabi.Web/appsettings.Production.json